.header-text-size {
    font-size: min(1rem, 2vw);
}

.table-text-size {
    font-size: min(.9rem, 1.8vw);
    padding: min(.375rem, 1vw) min(.75rem, 1vw);
}

.table-button-size {
    font-size: min(.9rem, 1.8vw);
    padding: min(.375rem, 1vw) min(.75rem, 1vw);
}
