<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moje książki</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/requests.js}"></script>
    <script type="text/javascript" th:src="@{/js/filter.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/small-menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/my-books.css}"/>
    <link rel="shortcut icon" th:href="@{/img/favicon.svg}">

</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container-md mt-1">
    <p class="h3 mb-3">Prośby o wypożyczenie książki</p>
    <table class="table table-striped">
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Wynajmujący</th>
            <th>Decyzja</th>
        </tr>
        <tr th:each="book_request : ${books_requests}">
            <td class="break" th:text="${book_request.book.title}">Tytuł</td>
            <td class="break" th:text="${book_request.book.author}">Tytuł</td>
            <td class="break" th:text="${book_request.requester.fullName}">Wynajmujący</td>
            <td class="w-25">
                <a th:onclick="'javascript:acceptRentRequest(\'' + ${book_request.id} + '\');'"
                   class="btn btn-success mr-2">Zaakceptuj</a>
                <a th:onclick="'javascript:declineRentRequest(\'' + ${book_request.id} + '\');'" class="btn btn-danger">Odrzuć</a>
            </td>
        </tr>
    </table>

    <p class="h3 my-4">Moje książki udostępnione innym</p>
    <table class="table table-striped" id="books-owner">
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Obecny Właściciel</th>
            <th>Szczegóły</th>
        </tr>
        <tr th:each="book : ${books_owner}">
            <td class="break title" th:text="${book.title}">Tytuł</td>
            <td class="break" th:text="${book.author}">Autor</td>
            <td class="break" th:text="${book.reader?.fullName}">Obecny Właściciel</td>
            <td><a th:href="@{/book/{id}(id = ${book.id})}">Szczegóły</a></td>
        </tr>
    </table>

    <p class="h3 my-4">Ksiażki udostępnione mi przez innych</p>
    <table class="table table-striped" id="books-reader">
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Właściciel</th>
            <th>Szczegóły</th>
            <th>Udostępnij</th>
        </tr>
        <tr th:each="book : ${books_reader}">
            <td class="break title" th:text="${book.title}">Tytuł</td>
            <td class="break" th:text="${book.author}">Autor</td>
            <td class="break" th:text="${book.owner?.fullName}">Właściciel</td>
            <td><a th:href="@{/book/{id}(id = ${book.id})}">Szczegóły</a></td>
            <td>
                <a th:if="${book.available}" class="btn btn-info w40"
                   th:onclick="'javascript:changeAvailability(\'' + ${book.id} + '\', \'' + ${book.available} + '\');'">Zablokuj</a>
                <a th:unless="${book.available}" class="btn btn-info w40"
                   th:onclick="'javascript:changeAvailability(\'' + ${book.id} + '\', \'' + ${book.available} + '\');'">Udostępnij</a>
            </td>
        </tr>
    </table>
</div>

<script th:inline="javascript">
    const booksOwner = [[${books_owner}]];
    search(booksOwner, "books-owner");

    const booksReader = [[${books_reader}]];
    search(booksReader, "books-reader");
</script>

</body>
</html>
