<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły książki</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/requests.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css} ">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/views/resource-details.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/fragments/navbar.css} ">
    <link rel="shortcut icon" th:href="@{/img/favicon.svg}">
</head>
<body class="bg-secondary">

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container bg-secondary px-5">
    <h2 class="display-5 mb-4" th:text="${resource.title}"></h2>
    <p class="lead" th:text="'Autor: ' + ${resource.author}"></p>
    <p class="lead" th:text="'Opis: ' + ${resource.description}"></p>
    <p class="lead" th:text="'Tagi książki:'"></p>
    <div th:each="tag : ${tags}"
         th:text="${tag?.name}"
         class="d-inline tag">
    </div>

    <hr class="my-4">
    <br>

    <div class="d-flex flex-column justify-content-between flex-lg-row">

        <form action="#"
              class="form w-100">
            <div class="form-group">
                <h3 class="mb-3">Dodaj opinię</h3>

                <p class="h5">Ocena:
                    <select class="form-control col-lg-2 col-md-2 mt-2" id="rating" name="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>

                <div class="form-group">
                    <label class="h5" for="description">Komentarz:</label>
                    <textarea class="form-control col-lg-8 col-md-6" id="description" name="description"
                              rows="6"></textarea>
                </div>

                <div class="inputs">
                    <a class="btn btn-warning col-md-3 col-lg-2 mb-2 mr-2"
                       th:onclick="'javascript:addOpinion(\'' + ${resource.id} + '\');'">Dodaj</a>
                    <input class="btn btn-warning col-md-3 col-lg-2 mb-2" type="reset" value="Reset"/>
                </div>
            </div>
        </form>

        <div class="box__box2 w-100">
            <h3>Opinie</h3>

            <div th:each="opinion : ${opinions}">
                <div th:replace="fragments/opinion :: opinion(opinion=${opinion}, user=${user})"></div>
            </div>

        </div>
    </div>

</div>
</body>
</html>
