<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pl.akai.bookcrossing.tag.TagDaoMapper">

    <resultMap id="tagMap" type="Tag">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertTag" useGeneratedKeys="true" keyProperty="tag.id" keyColumn="id">
        INSERT INTO tb_tag (name)
        VALUES (upper(#{tag.name}));
    </insert>

    <select id="getAllTags" resultMap="tagMap">
        SELECT *
        FROM tb_tag;
    </select>

    <select id="getTagByName" resultMap="tagMap">
        SELECT *
        FROM tb_tag
        WHERE name like upper(#{name})
        LIMIT 1;
    </select>

    <insert id="insertResourceTag">
        INSERT INTO tb_resource_tags (resource_id, tag_id)
        VALUES (#{resourceId}, #{tagId});
    </insert>

</mapper>
