<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:fragment="books-reader-table (books_reader)"
        class="table table-striped" id="books-reader">
  <tr class="header-text-size">
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Właściciel</th>
    <th>Szczegóły</th>
    <th>Udostępnij</th>
  </tr>
  <tr th:each="book : ${books_reader}" class="table-text-size">
    <td class="title" th:text="${book.title}">Tytuł</td>
    <td th:text="${book.author}">Autor</td>
    <td th:text="${book.owner?.fullName}">Właściciel</td>
    <td><a class="btn btn-primary table-button-size" th:href="@{/books/{id}(id = ${book.id})}">Szczegóły</a></td>
    <td>
      <a th:if="${book.available}"
         class="btn btn-primary table-button-size"
         th:onclick="'javascript:changeAvailability(\'' + ${book.id} + '\', \'' + ${book.available} + '\');'">
        Zablokuj
      </a>
      <a th:unless="${book.available}"
         class="btn btn-primary table-button-size"
         th:onclick="'javascript:changeAvailability(\'' + ${book.id} + '\', \'' + ${book.available} + '\');'">
        Udostępnij
      </a>
    </td>
  </tr>
</table>
</body>
</html>
