<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:fragment="ebooks-table (ebooks)"
       class="table table-striped bookList" id="ebooks-list">
    <tr class="header-text-size">
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Szczegóły</th>
        <th>Link</th>
    </tr>
    <tr th:each="ebook : ${ebooks}" class="table-text-size">
        <td th:text="${ebook.title}" class="text-break">Tytuł</td>
        <td th:text="${ebook.author}">Autor</td>
        <td><a class="btn btn-primary table-button-size" th:href="@{/ebooks/{id}(id = ${ebook.id})}">Szczegóły</a></td>
        <td><a class="btn btn-primary table-button-size" th:href="@{${ebook.url}}">Czytaj</a></td>
    </tr>
</table>
</body>
</html>
