<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opinion Fragment</title>
</head>
<body>
<div th:fragment="opinion (opinion, user)"
 th:id="'opinion-'+${opinion.id}">
    <hr class="my-4">
    <div class="d-flex justify-content-between">
        <p class="lead" th:inline="text">
            <span class="property">[[${opinion.author.fullName}]]</span>
        </p>
        <div th:if="${opinion.author.id == user.id}">
            <i class="fas fa-pencil-alt"
               th:onclick="'javascript:editOpinion(\'' + ${opinion.id} + '\');'"></i>
            <i class="fas fa-trash-alt"
               th:onclick="'javascript:deleteOpinion(\'' + ${opinion.id} + '\');'"></i>
        </div>
    </div>
    <p class="lead rating" th:inline="text">
        <span class="property">Ocena: </span>
        [[${opinion.rating}]]
    </p>
    <div class="description">
        <div th:if="${opinion.description != null && opinion.description != ''}">
            <div class="lead property" th:text="'Komentarz:'"></div>
            <div class="text-break" th:text="${opinion.description}">Opis</div>
        </div>
    </div>
</div>
</body>
</html>
