@media (max-width: 991.98px) {
    .w-25{
        display: flex;
    }
}
@media (max-width: 500px) {
    .btn-success,
    .btn-danger,
    .btn-info{
        font-size: 9px;
    }
}

@media (max-width: 500px){
    .w40{
        width: 80%;
    }
}
@media (min-width: 768px){
    .w40{
        width: 70%;
    }
}
@media (min-width: 992px){
    .w40{
        width: 50%;
    }
}
@media (min-width: 1200px){
    .w40{
        width: 40%;
    }
}
